{% extends 'base.html.twig' %}

{% block title %}Beer index{% endblock %}

{% block body %}
    
    <div class="ui-header" style="margin-top: 5%;margin-bottom: 10%;font-size: 3rem;">BEER LIST</div>
    <div class="ui cards ">
        <div class="ui grid">
            
        {% for beer in beers %}
            <div class="threecolumn">
                <div class="ui card raised  " style="margin: 2%;">
            <div class="content">
                <div class="ui-header">{{ beer.name }}</div>
                <div class="meta">
                    {{ beer.brewery }}
                </div>
                 <div class="extra content">
      <div class="ui two buttons">
        <a  class="ui purple button inverted" href="{{ path('beer_edit', {'id': beer.id}) }}">EDIT</a>
         <div class="or"></div>
        <a class="ui  pink button inverted" href="{{ path('beer_show', {'id': beer.id}) }}">SHOW</a>
      </div>
    </div>
                
            </div>
        </div>
      </div>
        {% endfor %}
        
        </div>
    </div>
        <a href="{{ path('beer_new') }}" class="ui  green button" style="margin-top: 5%">Create new</a>
   
    
    
    
    
    
    
    
                  
     
      

   
{% endblock %}
